body{
    width: 1440px;
    height: 1024px;
    background:#F3F5FC;
    top: 622px;
    left: -2277px;
}

header img{
    margin: 40px 0 0 50px;
    position: static;
}

.entrada-texto{
    position: relative;
    width: 577px;
    height: 500px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: none;
    background: none;
   
}
.entrada-texto:focus{
    outline: none;
    
}
.salida-texto{
    position: absolute;
    width: 400px;
    height: 865px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 30px 30px 30px 30px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    overflow: auto;
    
}

.munieco{
    width: 336px;
    height: 304px;
    margin: 250px 30px 40px 40px;
}

#parrafo-principal{
    
    color: var(--gray-gray-500, #343A40);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    align-self: stretch;
}

#parrafo-secundario{
    
    color: var(--gray-gray-400, #495057);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    align-self: stretch;
    margin-top: 20px;
}

.buttons{
   margin: 240px 300px 0px 180px;
   
}

#encriptar{
    
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--dark-blue-dark-blue-300, #0A3871);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-inline: 24px;
}

#desencriptar{
    
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    color: var(--dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.information{
    margin: 0px 0px 20px 30px;

}

#text-information{
    display: inline-block;
    color: var(--gray-gray-400, #495057);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%; /* 18px */
}

footer{
    height: 59px;
    margin: 60px 0px 4px 0px;
    text-align: center;
    font-size: 17px;
}